@import 'all';
/*******************************
   MAIN WRAPPER
********************************/
.header_area {
    // padding: 15px 15px 0px 0px;
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 12;
    background: $main_bg;
    .header_inner {
        padding-right: 15px;
        height: 70px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0px 0px 9px 1px rgba(34, 41, 47, .10);
        @include d_flex_btwn;
        @include mobile {
            height: 55px;
        }
        .header_left_list {
            padding-left: 260px;
            transition: all .5s;
            @include mobile {
                padding-left: 0px;
            }
            .left_header_widget {
                padding-right: 10px;
                i {
                    padding-right: 10px;
                }
            }
        }
        > ul {
            &:first-child {
                li {
                    margin-left: 15px;
                    img {
                        width: 120px;
                    }
                    .collapse_arrow {
                        color: #000;
                        cursor: pointer;
                        margin-right: 5px;
                    }
                }
            }
            @include d_flex_center;
            > li {
                @include d_flex_center;
                margin-left: 12px;
                @include mobile {
                    margin-left: 0px;
                }
                > i {
                    font-size: 24px;
                    padding-right: 10px;
                }
            }
        }
    }
}


#content_wrap {
    padding-left: 260px;
    padding-top: 85px;
    transition: padding .5s;
    @include mobile {
        padding-left: 0px;
        padding-top: 70px;
        transition: none;
    }
}

// DASHOBOARD CONTENT

.inline_card {
    padding : 10px;
    // padding-left: 55px;
    position: relative;
    box-shadow: 0px 4px 24px 0px rgba(34, 41, 47, .10);
    background: $nav_bg;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
    span {
        position: absolute;
        top: 10px;
        right: 10px;
        // background: $dropdown_bg;
        // height: 100%;
        i {
            // position: absolute;
            // top: 50%;
            // left: 10px;
            // transform: translateY(-50%);
            font-size: 25px;
            display: inline-flex;
        }
    }
    p {
        font-weight: 500;

        font-size: 14px;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 25px;
        margin-bottom: 15px;
        font-weight: 400;
    }
    svg {
        height: 100px;
        width: 100%;
        g {
            width: 100%;
        }
        .ct-area {
            fill: $color_info;
        }
        .ct-line {
            fill: $color_info;
        }
    }
}



// LECTURE APPLY
.l_apply_content {
    border: 1px solid #d8d6de;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: all .2s;
    &:hover {
        box-shadow: 1px 1px 25px 0px #d8d6de;
    }
    .inner_text {
        padding: 10px;
        border-top: 1px solid #d8d6de;
        margin-top: 15px;
        h2 {
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 16px;
        }
        ul {

            li {
                position: relative;
                padding: 2px 0px;
                padding-left: 110px;
                span:first-child {
                    min-width: 110px;
                    font-weight: 500;
                    position: absolute;
                    top: 2px;
                    left: 0;
                }
                span:last-child {}
            }
        }
    }
}


// ITEM LIST
.item_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .inner {
        padding: 6px;
        width: 165px;
        @include mobile {
            width: 50%;
        }
        .inner_wrap {
            border: 1px solid $border_color;
            .inner_active {
                border: 1px solid transparent;
                &.active {
                    border: 1px solid $color_info;
                }
            }
            .top {
                padding: 10px;
                // padding-right: 25px;
                position: relative;
                .form_checkbox {
                    position: absolute;
                    right: 7px;
                    top: 10px;
                    display: none;
                }
            }
            .text {
                text-align: center;
                padding: 10px 5px 0px ;
                border-top: 1px solid $border_color;
                h2 {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 5px;
                    color: $color_info;
                }
                p {
                    margin-bottom: 5px;
                    font-size: 12px;
                    height: 19px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            .item_input {
                padding: 5px;
                .form_global  {
                    height: 25px;
                    font-size: 12px;
                    border: 1px solid $color_info;
                    &::placeholder {
                        font-size: 12px;
                    }
                }
            }

        }
    }
}

// ITEM DETAILS
.item_details_content {
    padding: 5px 0px;
    .inner {
        display: flex;
        border: 1px solid $border_color;
        margin-bottom: -1px;
        margin-bottom: 5px;
        @include mobile {
            flex-direction: column;
        }
        label {
            width: 200px;
            padding: 3px;
            padding-left: 15px;
            @include mobile {
                width: 100%;
                padding-left: 10px;
            }
        }
        .text {
            padding: 3px;
            padding-left: 15px;
            border-left: 1px solid $border_color;
            color: $color_info;
            width: calc(100% - 200px);
            @include mobile {
                width: 100%;
                border-left: none;
                border-top: 1px solid $border_color;
                padding-left: 10px;
            }
        }
    }
}
.item_details_image {
    .images {
        margin-left: -6px;
        margin-right: -6px;
        display: flex;
        flex-wrap: wrap;
        @include mobile {
            margin-left: -4px;
            margin-right: -4px;
        }
        .inner {
            width: 10%;
            padding: 6px;
            p {
                margin-bottom: 0;
            }
            @include mobile {
                width: 20%;
                padding: 4px;
            }
        }
    }
}


//LIVE PRODUCT AREA

#video_wrap {
    .video_wrap_inner {
        .video-js {
        }
    }
    .showing_item  {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding-left: 31.6%;
        padding-right: 31.6%;
        @include below1600 {
            padding-left: 22.8%;
            padding-right: 22.8%;
        }
        @include belowIpadpro {
            padding-left: 0;
            padding-right: 0;
        }
        .showing_item_inner {
            position: relative;
            .item_details {
                background: rgba(0, 0, 0, 0.9);
                position: absolute;
                display: flex;
                padding-left: 70px;
                height: 84px;
                top: 55px;
                width: 75%;
                .img {
                    width: 67px;
                    position: absolute;
                    left: 3px;
                    top: -8px;
                    img {
                        width: 100%;
                        border: 2px solid #fff;
                    }
                }
                .text {
                    padding: 5px 10px;
                    color: #fff;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    height: 84px;
                    justify-content: center;
                    h2 {
                        color: #fff;
                        text-align: left;
                        font-size: .92rem;
                        white-space: nowrap;
                        // @include below2000 {
                        //     font-size: .7rem;
                        // }
                    }
                    p {
                        color: #fff;
                        margin-bottom: 0;
                        text-align: left;
                        font-size: .7rem;
                    }

                }
            }
            .price {
                position: absolute;
                right: 0;
                top: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                background: rgba(0, 0, 0, 0.9);
                font-weight: bold;
                font-size: 1rem;
                color: #fff;
                width: 20%;
                height: 84px;
                white-space: nowrap;
                // @include below2000 {
                //     font-size: .7rem;
                // }
            }
            .time {
                background: rgba(0, 0, 0, 0.9);
                top: 5px;
                right: 80px;
                color: #fff;
                position: absolute;
                padding: 5px 10px;
                border-radius: 4px;
                font-size: .7rem;
            }
            .live_user {
                background: rgba(0, 0, 0, 0.9);
                top: 5px;
                right: 5px;
                color: #fff;
                position: absolute;
                padding: 5px 10px;
                border-radius: 4px;
                font-size: .7rem;
            }
            .reply_video {
                background: #e50040;
                top: 5px;
                left: 5px;
                color: #fff;
                position: absolute;
                padding: 5px 10px;
                border-radius: 4px;
                font-size: .7rem;
            }
        }
    }
}

#chat_wrap {
    // background: red;
    position: relative;
    transition: all .2s;
    .pinned_post_wrapper {
        position: absolute;
        z-index: 3;
        width: 100%;
        .pinned_post {
            border: 1px solid $color_info;
            border-radius: 8px;
            margin: 2px;
            position: relative;
            background: #fff;
            li{
                padding: 10px 80px 10px 45px;
                border-top: 1px solid $border_color;
                border-bottom: none;
                list-style: none;
                .author {
                    left: 5px;
                }
                .author {
                    margin-right: 10px;
                    font-size: 13px;
                    background: #000;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .text {
                    h2 {
                        font-size: 13px;
                        font-weight: 500;
                        word-break: break-word;
                    }
                    p {
                        font-size: 11px;
                        margin-bottom: 0;
                        text-align: left;
                        word-break: break-word;
                        &.time {
                            text-align: left;
                            color: gray;
                            font-size: 10px;
                        }
                    }
                }
                .right_text {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    @include d_flex_end;
                    flex-direction: column;
                    z-index: 2;
                    h2 {
                        font-size: 14px;
                        font-weight: 500;
                        padding-bottom: 5px;
                    }
                    .btn {
                        font-size: 10px;
                        padding: 2px 4px;
                        text-transform: capitalize;
                    }
                    .pinned_icon {
                        width: 15px;
                        margin-bottom: 5px;
                    }
                }
                &:first-child {
                    border: none;
                }
                .pinned_icons {
                    display: flex;
                    i {
                        margin-left: 5px;
                        cursor: pointer;
                    }
                    img {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .chat_head {
        height: calc(100% - 42px);
        position: relative;
        top: 0;
        left: 0;
        overflow: auto;
        width: 100%;
        background: #fff;
        &.with_reaction {
            height: calc(100% - 57px);
        }

        ul {
            &.comment_list {
                position: absolute;
                bottom: 0px;
                left: 0;
                height: 100%;
                width: 100%;
                align-content: flex-end;
                display: flex;
                display: flex;
                flex-direction: column;
                li{
                    &:first-child {
                        margin-top: auto;
                    }
                }
            }
            li {
                display: flex;
                position: relative;
                flex-direction: column;

                border-bottom: 1px solid $border_color;
                &:first-child {
                    border-top: 1px solid $border_color;
                }
                .author_comment {
                    position: relative;
                    padding: 10px 90px 10px 40px;
                }
                .reply_comment {
                    display: flex;
                    flex-direction: column;
                    .reply_comment_list {
                        position: relative;
                        padding: 5px 40px 5px 40px;
                        margin-left: 30px;
                        border-top: 1px solid $border_color;
                        .author {
                            top: 5px;
                        }
                    }
                }
                .author {
                    margin-right: 10px;
                    font-size: 13px;
                    background: #000;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .text {
                    h2 {
                        font-size: 13px;
                        font-weight: 500;
                        word-break: break-word;
                    }
                    p {
                        font-size: 11px;
                        margin-bottom: 0;
                        text-align: left;
                        word-break: break-word;
                        &.time {
                            text-align: left;
                            color: gray;
                            font-size: 10px;
                        }
                    }
                }
                .right_text {
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    @include d_flex_end;
                    flex-direction: column;
                    z-index: 2;
                    h2 {
                        font-size: 14px;
                        font-weight: 500;
                        padding-bottom: 5px;
                    }
                    .btn {
                        font-size: 10px;
                        padding: 2px 4px;
                        text-transform: capitalize;
                    }
                    .pinned_icon {
                        width: 15px;
                        margin-bottom: 5px;
                    }
                }
            }
            .comments {
                margin-top: auto;
            }
        }
    }

    .reactions {
        position: absolute;
        bottom: 38px;
        left: 0;
        width: 100%;
        ul {
            display: flex;
            li {
                display: flex;
                padding: 0;
                border: none;
                padding-right: 8px;
                span {
                    margin-right: 5px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }

    .reply_chat {
        position: absolute;
        bottom: 0;
        width: 100%;
        .author {
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            img {
                width: 100%;

            }
            i {
                position: absolute;
                left: 0px;
                top: 18px;
                transform: translateY(-50%);
                right: auto;
                z-index: 5;
                font-size: 14px;
                width: 25px;
                height: 25px;
            }
        }
        input {
            padding-right: 60px;
            padding-left: 15px;
            background: #F1F2F6;
            border-radius: 15px;
            margin-left: 40px;
            width: calc(100% - 90px);
            @include mobile {
                font-size: 16px;
            }
        }
        i {
            position: absolute;
            right: 56px;
            top: 0;
            padding: 10px 5px;
            font-size: 17px;
            cursor: pointer;
        }
        .imojies {
            position: absolute;
            right: 85px;
            top: 50%;
            transform: translateY(-50%);
            span {
                width: 17px;
                img {
                    width: 17px;
                }
            }
        }
        .imojies_right {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            span {
                width: 20px;
                img {
                    width: 20px;
                }
            }
        }
    }
    .hearts {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 90px;
        height: 40%;
    }
    .imojies_inner {
        position: absolute;
        height: 20px;
        min-height: 18px;
        width: 20px;
        // -webkit-mask-repeat: no-repeat;
        // mask-repeat: no-repeat;
        // -webkit-mask-position: bottom;
        // mask-position: bottom;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain ;
        opacity: 0;
        animation: floating-heart 4s  cubic-bezier(0.5, 0.5, 0.5, 0.5);
        z-index: 3;
    }

    @keyframes floating-heart {
        0% {
            opacity: 0;
            bottom: 0%;
            right: 15%;;
        }
        10% {
            opacity: 1;
            bottom: 20%;
            right: 15%;
            transform: scale(1.7);
        }
        20% {
            bottom: 40%;
            right: 25%;
            transform: scale(1.5);
        }
        30% {
            bottom: 60%;
            right: 15%;
            transform: scale(1.3);
        }
        40% {
            opacity: 1;
            bottom: 80%;
            right: 15%;
            transform: scale(1);
        }
        48% {
            opacity: 0;
            bottom: 100%;
            right: 15%;
            transform: scale(.8);
        }
        100% {
            opacity: 0;
            bottom: 100%;
            right: 15%;
            transform: scale(.4);
        }
    }

    .imojies_inner:nth-of-type(1) {
        animation-delay: .1s;
    }
    .imojies_inner:nth-of-type(2) {
        animation-delay: .4s;
    }
    .imojies_inner:nth-of-type(3) {
        animation-delay: .7s;
    }
    .imojies_inner:nth-of-type(4) {
        animation-delay: 1s;
    }
    .imojies_inner:nth-of-type(5) {
        animation-delay: 1.3s;
    }
    .imojies_inner:nth-of-type(6) {
        animation-delay: 1.6s;
    }
    .imojies_inner.LIKE{
        background-image: url(../media/images/like.png);
    }
    .imojies_inner.LOVE{
        background-image: url(../media/images/love.png);
    }
    .imojies_inner.HAHA{
        background-image: url(../media/images/laugh.png);
    }
    .imojies_inner.WOW{
        background-image: url(../media/images/wonder.png);
    }
    .imojies_inner.SAD{
        background-image: url(../media/images/sorrow.png);
    }
    .imojies_inner.ANGRY{
        background-image: url(../media/images/angry.png);
    }
}

#chat_full_screen {
    display: none;
}
html {
    --scrollbarBG: #fff;
    --thumbBG: #000;
}
.chat_head::-webkit-scrollbar {
    width: 3px;
}
.chat_head {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.chat_head::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.chat_head::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 0px;
    border: 1px solid var(--thumbBG);
}

#chat_wrap .chat_head ul li .right_text .pinned_icon{
    margin-bottom: 3px;
  }
  .card_height{
    height: 100% !important;
  }
  .imoji_list{
    position: absolute;
    z-index: 9;
    width: max-content;
    right: 0;
  }
  .emoji_open_btn span.active{
    color:#556ee6;
  }
  
  .imojies.emoji_open_btn{
    right: 26px !important;
    top: 0% !important;
    transform: translateY(-0%) !important;
  }


.live_product_list {
    margin-left: -6px;
    margin-right: -6px;
    display: flex;
    flex-wrap: wrap;
    @include mobile {
        margin-left: -4px;
        margin-right: -4px;
    }
    .inner {
        width: 10%;
        padding: 6px;
        border: 2px solid transparent;
        position: relative;
        @include mobile {
            width: 25%;
            padding: 4px;
        }
        &.active {
            border: 2px solid $color_info;
        }
    }
    @-webkit-keyframes live {
        0%, 80%, 100% { -webkit-transform: scale(0.6) }
        40% { -webkit-transform: scale(1.0) }
    }
    @keyframes live {
        0%, 80%, 100% {
            transform: scale(0.6);
            -webkit-transform: scale(0.6);
        } 40% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
          }
    }


    .live_text{
        padding: 4px 0px;
        overflow: hidden;
        position: absolute;
        top: 8px;
        right: 15px;
        span {
            font-weight:600;
            text-transform: uppercase;
            animation : flasing 1s infinite;
        }
    }
    @keyframes flasing{
        0%{     color: #000;  opacity: 1;  }
        50%{    color: #e50040; font-weight:600;}
        100%{   color: #000;    opacity: 1;}
    }

    .style_no {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: rgb(255, 255, 255);
        white-space: nowrap;
        background: $color_info;
        padding: 2px 4px;
    }
}




.order_list_filter {
    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .form_global {
            margin-bottom: 10px;
            margin-right: 0!important;
            width: 100%;
        }
        .max_width_200p {
            max-width: 100%!important;
            width: 100%;
        }
        .mr_10 {
            margin-right: 0!important;
        }
    }
}